@charset "UTF-8";

/*RESET*/
html {height:100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0; padding:0;}
table {border-collapse:separate;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,th,var {font-style:normal; font-weight:normal;}
em,strong{}
ol,ul {list-style:none;}
caption {text-align:center;}

h1,h2,h3,h4,h5,h6 {font-size:100%; margin:0; padding:0; font-weight:normal; font-family: 'Francois One', sans-serif;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}

h1 {font-size:22px;}
h2 {font-size:17px;}
h3 {font-size:14px;}

/*MAIN*/
body {font-size:13px; color:#555; font-family:arial,sans-serif; background:#333 url(../images/bg.jpg) scroll no-repeat 50% 50%;}
a {color:#555; outline:none; text-decoration:none;}
a:hover {color:#333;}
img {border: none; vertical-align:top;}
p {padding:0;}
.cl {clear:both; line-height:0;}
.fl {float:left;}
.fr {float:right;}

.warning {border-color:#b85252 !important;}

/*SPRITE*/

/*BUILD*/
.wrapper {width:980px; margin:0 auto;}
.main {padding:0 0 30px; background:transparent url(../images/main_bg.png) scroll repeat-y 50% 0;}
.footerW {background:#2e96dd url(../images/footer_bg.jpg) scroll repeat-x 0 0;padding:40px 0;}
.footer {width:980px; margin:0 auto; overflow:hidden; color:#FFF; background:transparent url(../images/logoFooter.png) scroll no-repeat 0 0;}
.footer a {color:#FFF;}
.footer a:hover {color:#bfdbee;}

.header {position:relative; height:170px; background:transparent url(../images/header_bg.png) scroll no-repeat 50% 100%;}
.navigation {padding:0 0 40px; position:relative; z-index:2; background:transparent url(../images/nav_bg.png) scroll no-repeat 50% 100%;}
ul.mainNav {height:50px; padding:0 10px; background:transparent url(../images/stripes.png) scroll repeat-x 0 0;}
ul.mainNav > li {float:left; position:relative;}
ul.mainNav > li > a {display:block; font-size:15px; line-height:50px; padding:0 20px; font-family: 'Francois One', sans-serif; color:#FFF; text-transform:uppercase;}
ul.mainNav > li > a.home {width:10px; height:50px; background-image:url(../images/home.png); background-repeat:no-repeat; background-position:50% 50%;}
ul.mainNav > li:hover {background-color:#41a8f0; }
ul.mainNav ul {display:none; position:absolute; width:200px; background-color:#41a8f0;}
ul.mainNav ul li a {display:block; line-height:20px; padding:10px 20px; color:#FFF;}
ul.mainNav ul li a:hover {background-color:#2a92da;}
ul.mainNav li:hover ul {display:block;}

ul.lang {overflow:hidden; position:absolute; top:10px; right:10px;}
ul.lang li {float:left;}
ul.lang li a {display:block; color:#bfdbee; width:30px; line-height:30px; text-align:center;}
ul.lang li a:hover {color:#FFF;}
ul.lang li a.active {background-color:#f5f5f5; color:#288fd7;}

.content {overflow:hidden;}
.sideContent {width:270px; float:left;}
.mainContent {width:700px; float:right;}

.sideBox {padding:0 0 10px; margin:10px 0 0; background:transparent url(../images/shadowSmall.png) scroll no-repeat 0 100%;}
.sideBox .title {padding:10px 20px; background-color:#FFF; font-family: 'Francois One', sans-serif; font-size:15px;}
.sideBox .context {background-color:#FFF; padding:20px;}
.sideBox .context.custom {min-height:50px; background-image:url(../images/sideCustom.jpg); background-repeat:no-repeat; background-position:0 0;}

ul.banners {overflow:hidden;}
ul.banners li {margin:10px 0 0 20px;}

.banner {padding:10px 0; position:relative;}
.slides_container {width:770px; height:280px;} 
.slides_container p {padding:10px 0; color:#FFF;}
.slides_container .slide {width:770px; height:280px; display:block;}
.slides_container .desc {padding:0 200px 0 20px; position:absolute; right:0; bottom:0; width:550px; background-image:url(../images/mask.png);}

.pagination {position:absolute; right:10px; bottom:15px;}
.pagination li {float:left; margin:0 5px;}
.pagination li a {background:transparent url("../images/pagination.png") scroll no-repeat 0 0; display:block; float:left; height:0; overflow:hidden; padding-top:22px; width:22px;}
.pagination li.current a {background-position:0 -22px;}

.contentBox {padding:10px 0; background:transparent url(../images/shadowBig.png) scroll no-repeat 0 100%;}
.contentBox .context {background-color:#FFF; padding:0 20px 20px; position:relative;}

.gTitle {text-transform:uppercase; position:absolute; top:0; line-height:60px; padding:0 15px 10px; font-family: 'Francois One', sans-serif; font-size:15px; color:#FFF; left:0; background:transparent url(../images/bGreen1.png) scroll no-repeat 0 0;}
.bTitle {text-transform:uppercase; position:absolute; top:-10px; line-height:40px; padding:0 30px 0 40px; font-family: 'Francois One', sans-serif; font-size:15px; color:#FFF;}
.bTitle.blue { left:20px; background:transparent url(../images/bBlue.png) scroll no-repeat 0 0;}
.bTitle.green { left:350px; background:transparent url(../images/bGreen.png) scroll no-repeat 0 0;}

ul.intro {padding:0 0 20px; border-bottom:solid 1px #EEE; overflow:hidden;}
ul.intro li {float:left; width:310px; padding:50px 10px 0 10px;}
ul.intro li img {float:left;}
ul.intro li .txt {margin:0 0 0 105px;}

ul.news {padding:20px 0; border-bottom:solid 1px #EEE; overflow:hidden;}
ul.news li {float:left; width:200px; padding:0 0 0 10px; margin:0 15px 0 0; position:relative;}
ul.news li img {padding:0 0 5px;}
ul.news li.last {margin:0;}

ul.actual {padding:0 0 20px;}
ul.actual li {padding:20px 0 20px 10px; border-bottom:solid 1px #EEE; overflow:hidden;overflow:hidden;}
ul.actual li img {float:left;}
ul.actual li .txt {margin:0 0 0 210px;}

.footer .copy {float:left; padding:60px 0 0;}
ul.footerLinks {overflow:hidden; float:right;}
ul.footerLinks > li {float:left; border-left:solid 1px #1e81c7; line-height:20px; border-right:solid 1px #58abe4; width:200px; padding:0 0 0 20px; min-height:200px;}
ul.footerLinks > li.first {border-left:none;}
ul.footerLinks > li.last {border-right:none;}
ul.footerLinks li ul {padding:20px 0 0;}

.wys {padding:20px 0;}
.wys p {padding:5px 0;}
.breadcrumb {color:#999; line-height:30px; font-size:12px; border-bottom:solid 1px #EEE;}

.forms {overflow:hidden; padding:10px 10px 0; border:solid 1px #EEE;}
.forms tbody td {padding:5px; border-bottom:solid 1px #EEE;}
.forms tfoot td {padding:10px 5px;}
.forms label {font-family:'Arial',sans-serif; display:block; font-size:14px; color:#333;}
.forms label span {color:#b85252;}
.forms input[type=text] {font-family:'Arial',sans-serif; width:200px; font-size:14px; padding:6px; border:solid 1px #EEE; background-color:#FEFEFE; color:#555; box-shadow:0 0 2px #EEE inset;}
.forms input[type=text]:focus {background-color:#FFF;}
.forms input[type=submit] {font-family:'Arial',sans-serif; padding:10px 20px 10px 35px; border-radius:2px; font-size:14px; color:#FFF; font-weight:bold; border:none; background:transparent url(../images/butOk_bg.png) scroll no-repeat 0 -5px;}
.forms input[type=submit]:hover {background-position:0 -55px; cursor:pointer;}


